.bar {
  display: grid;
  grid-template-columns: 6% 12.5% 15% 8% 12% 11% 13% 13% 8%;
  padding: 0.75rem 0;
}

.id,
.name,
.phone,
.inqDate,
.offerDetails,
.status,
.cmnt,
.type,
.handler {
  font-size: 1.6rem;
  text-align: center;
}
