.mainPanel {
  width: 89vw;
  color: white;
  padding: 2rem;
}

.mainHead {
  font-size: 2.15rem;
  margin-top: 0.5rem;
  font-weight: 700;
}

.usersDisplay {
  margin-top: 1rem;
}

.usersDisplayContainer {
  height: 34vh;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0.1rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.blocks {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.loadBtn {
  background-color: #00a510;
  padding: 0.4rem 0;
  color: white;
  border-radius: 1rem;
  outline: none;
  margin: auto;
  text-align: center;
  width: 100%;
  transition: all 0.5s ease-in-out;
  border: 1px solid transparent;
  cursor: pointer;
}

.loadBtn:hover {
  border: 1px solid #00a510;
  background-color: transparent;
  color: #00a510;
}

.btns{
  background-color: black;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  font-size: 1.76rem;
  padding: 0.15rem 1.5rem;
  margin-left: 1rem;
  cursor: pointer;
  border-radius: 1rem;
}

.report{
  background-color: rgb(20, 20, 20);
  width: 18%;
  border-radius: 1rem;
  padding: 1rem 1.25rem;
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  font-size: 1.7rem;
  font-weight: 600;
}

.data {
  overflow-y: scroll;
  height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bar {
  border-radius: 1rem;
  background-color: rgb(41, 41, 41);
  margin: 0.75rem 0;
  padding: 0.75rem 0;
}

.data p{
  font-size: 1.6rem;
  padding: 0.65rem 0;
}