.inputBtn {
  background-color: rgb(51, 51, 51);
  font-size: 1.6rem;
  outline: none;
  width: 15%;
  color: rgb(128, 128, 128);
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  border: none;
}

.selectSchool {
  border-radius: 0.5rem;
  background-color: black;
  color: white;
  position: absolute;
  height: 20vh;
  z-index: 100;
  overflow-y: scroll;
  top: 0;
  border: 1px solid grey;
  left: 30px;
  padding: 0 0.65rem;
  width: 12.5%;
}

.selectSchool div {
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0.65rem 0;
  text-align: center;
  border: 1px solid grey;
  border-radius: 0.5rem;
  padding: 0.15rem;
}

.selectSchool .input {
  background-color: rgb(51, 51, 51);
  font-size: 1.6rem;
  outline: none;
  width: 100%;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  border: none;
}
