* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: arial, sans-serif;
  box-sizing: border-box;
}

.inputUserContainer {
  border-radius: 1rem;
  color: white;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.inputUserContainer h1 {
  font-size: 1.75rem;
  font-weight: 500;
}

form {
  width: 48vw;
  display: flex;
}

.inputSection {
  width: 85%;
}

.inputContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.inputContainer .input {
  border: none;
  background-color: rgb(75, 75, 75);
  outline: none;
  width: 18%;
  font-size: 1.7rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: white;
  margin: 0.4rem 0;
}

.inputContainer .input::placeholder {
  color: rgb(170, 170, 170);
}

.inputUserContainer .button {
  background-color: rgba(0, 165, 16, 1);
  width: 20%;
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  margin: 0.35rem;
  padding: 0.2rem 0.4rem 0.2rem 0;
  border-radius: 1rem;
  color: white;
  border: 1px solid transparent;
  transition: all 0.5s ease-in-out;
}

.inputUserContainer .button:hover {
  border: 1px solid white;
}

.inputContainer .detailsBtn {
  border: none;
  background-color: rgb(80, 80, 80);
  outline: none;
  width: 18%;
  font-size: 1.65rem;
  border-radius: 1rem;
  padding: 0.6rem 0.1rem;
  color: rgb(170, 170, 170);
  cursor: pointer;
  margin: 0.5rem 0;
}

.inputPhone::-webkit-outer-spin-button,
.inputPhone::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputContainer .detailsBtnContainer {
  position: absolute;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: rgba(63, 63, 63, 1);
  width: 20%;
  left: 21%;
  z-index: 10;
}

.detailsBtnContainer .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detailsBtnContainer .header p {
  font-size: 1.8rem;
  color: rgb(163, 163, 163);
}

.detailsBtnContainer .selectModes {
  display: flex;
  justify-content: space-between;
  padding: 0 0.4rem;
}

.detailsBtnContainer .selectModes .selectMode {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1.1rem;
}

.detailsBtnContainer .selectModes .selectMode p {
  font-size: 1.6rem;
}

.detailsBtnContainer .inputSections {
  display: flex;
  margin-top: 0.5rem;
}

.detailsBtnContainer .inputSections .inputSection {
  margin-right: 1.2rem;
  margin-top: -0.65rem;
}

.detailsBtnContainer .inputSections p {
  font-size: 1.55rem;
}

.detailsBtnContainer .inputSections input {
  border: none;
  background-color: rgb(105, 105, 105);
  outline: none;
  width: fit-content;
  font-size: 1.7rem;
  padding: 0.35rem 1rem;
  border-radius: 1rem;
  color: white;
  margin-top: 0.25rem;
}

.topbarSearch {
  align-self: flex-end;
  width: 13vw;
  display: flex;
  justify-content: space-evenly;
  margin: 1.5rem;
  align-items: center;
}

.topbarSearch input {
  border: none;
  background-color: rgb(75, 75, 75);
  outline: none;
  width: 55%;
  font-size: 1.75rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: white;
  margin: 0.5rem 0;
  padding-right: 3.5rem;
}

.topbarSearch input::placeholder {
  color: rgb(212, 212, 212);
}

.topbarSearch select {
  background-color: transparent;
  width: 45%;
  outline: none;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1.75rem;
  border-radius: 1rem;
}

.topbarSearch select option {
  outline: none;
  border: none;
  color: white;
  background-color: #000;
  font-size: 1.75rem;
}

.Toastify__toast--error {
  border: 1px solid #eb5757;
  background: #fae1e2 !important;
}

.price::-webkit-outer-spin-button,
.price::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
