* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: arial, sans-serif;
  box-sizing: border-box;
}

.inputContainer .detailsBtnContainer {
  position: absolute;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: rgba(63, 63, 63, 1);
  width: 80%;
  height: 50%;
  top: 10%;
  z-index: 10;
}

.detailsBtnContainer .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detailsBtnContainer .header p {
  font-size: 1.8rem;
  color: rgb(163, 163, 163);
}

.detailsBtnContainer .selectModes {
  display: flex;
  justify-content: space-between;
  padding: 0 0.4rem;
}

.detailsBtnContainer .selectModes .selectMode {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1.1rem;
}

.detailsBtnContainer .selectModes .selectMode p {
  font-size: 1.6rem;
}

.detailsBtnContainer .inputSections {
  display: flex;
  margin-top: 0.5rem;
}

.detailsBtnContainer .inputSections .inputSection {
  margin-right: 1.2rem;
}

.detailsBtnContainer .inputSections p {
  font-size: 1.55rem;
}

.detailsBtnContainer .inputSections input {
  border: none;
  background-color: rgb(105, 105, 105);
  outline: none;
  width: 100%;
  font-size: 1.7rem;
  padding: 0.35rem 1rem;
  border-radius: 1rem;
  color: white;
  margin-top: 0.25rem;
}

.topbarSearch {
  align-self: flex-end;
  width: 25vw;
  display: flex;
  justify-content: space-between;
  margin: 1.5rem;
  align-items: center;
}

.topbarSearch input {
  border: none;
  background-color: rgb(75, 75, 75);
  outline: none;
  width: 55%;
  font-size: 1.75rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: white;
  margin: 0.5rem 0;
  padding-right: 3.5rem;
}

.topbarSearch input::placeholder {
  color: rgb(212, 212, 212);
}

.topbarSearch .btn {
  background-color: transparent;
  width: 60%;
  outline: none;
  text-decoration: none;
  border: none;
  color: white;
  padding: 0.35rem 1rem;
  font-size: 1.75rem;
  border-radius: 1rem;
}

.topbarSearch select option {
  outline: none;
  border: none;
  color: white;
  background-color: #000;
  font-size: 1.75rem;
}

.Toastify__toast--error {
  border: 1px solid #eb5757;
  background: #fae1e2 !important;
}

.price::-webkit-outer-spin-button,
.price::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
