.headings {
  padding: 1.1rem 1.25rem 0.5rem 1.25rem;
  border-radius: 1rem;
  color: white;
  background-color: rgb(31, 31, 31);
  margin: 0.75rem 0.75rem;
}

.header {
  display: grid;
  grid-template-columns: 8% 17% 12% 11% 11% 11% 11% 15% 16%;
  align-items: center;
}

.checkBox,
.course,
.typeDrop,
.duration,
.type,
.resources,
.actions {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
}

.bar {
  display: grid;
  grid-template-columns: 5% 20% 12% 11% 11% 11% 11% 15% 16%;
  align-items: center;
  background-color: rgb(19, 19, 19);
  padding: 0.75rem 0;
  border-radius: 1rem;
  margin: 0.65rem 0;
}

.bar p {
  text-align: center;
  font-size: 1.5rem;
}
