.New {
  background-color: lightblue;
  color: blue;
}

.MeetingSet {
  background-color: rgb(255, 255, 95);
  color: rgb(207, 135, 0);
}

.Rejected {
  color: rgb(0, 0, 0);
  background-color: rgb(175, 175, 175);
}

.FollowUp {
  color: darkred;
  background-color: rgb(255, 109, 109);
}

.MouSigned,
.ParentOnta,
.Circular {
  background-color: rgb(255, 195, 117);
  color: rgb(175, 99, 0);
}

.Started,
.NoPay {
  color: green;
  background-color: lightgreen;
}

.hot {
  color: #b90505;
  background-color: rgb(255, 163, 163);
}

.warm {
  background-color: #ffb46e;
  color: #9b520e;
}

.cold {
  color: #575757;
  background-color: #b6b6b6;
}

.won {
  color: #009c22;
  background-color: #9affb0;
}