.headings {
  display: grid;
  padding: 0.75rem 1.25rem;
  border-radius: 1rem;
  grid-template-columns: 4% 25% 11% 11% 11% 14% 14%;
  color: white;
  background-color: rgb(31, 31, 31);
  align-items: center;
  margin: 0.75rem 0.75rem;
}

.checkBox,
.course,
.typeDrop,
.duration,
.type,
.resources,
.actions {
  font-size: 1.5rem;
  text-align: center;
}
